
.dropDownMenu{
    width: 200px;
    height: 30px;
    background: cadetblue;
    
}

.button{
    width: 150px;
    height: 20px;
    background: aquamarine;
}


Age{
    float: left;

}
Length{
    float: left;

}