<!doctype html>
<html lang="en">   
   <head>
      <title> Board Game Finder About </title>
   </head>
   <link rel="stylesheet" href="static/prelim.css">
   <body>
	<div class="navbar">
        <a href="/">Home</a>
	<a class="active" href="/About"> About</a>
    	</div>
		
		<h1> About Us: Board Game Finder</h1>
		
	   <h3 style="color:moccasin"> Welcome to our board game finder!</h3>
	
		<p>This game finder is designed by Calypso Leonard, Yingying Wang and Tresa Xavier
	   		</br>
			for their Software Design Project at Carleton College.
			<br />
                All the information on this website comes from a data set posted by user <br>
                mrpantherson on Kaggle.com for public use. The data can be found 
		<a href="https://www.kaggle.com/mrpantherson/board-game-data" style="color:white"> here. </a> <br>
                The data was originally taken from 
		<a href="https://boardgamegeek.com/" style="color:white"> BoardGameGeek.com. </a> <br>
		Our site intends to help anyone and everyone find awesome new board games </br>
		that make sense for their preferences, age, group size, and time constraints. </p>
		<h3 style="color:powderblue">Not sure how to start? </h3>
		<p>Here's a rundown of what each feature of our search function means:
	   	</p>
		
		<h3 style="color:moccasin" >Category </h3> 
		
		<p>Category describes the primary mechanism by which the game is 
		played.<br>
		Co-operative, for instance, indicates a game where players work <br>
		together towards a common goal, while Battle indicates a game that <br>
		revolves around competition and war-like strategy. <br>
		Categories are not all-encompassing, or mutually exclusive, <br>
		as some games have multiple mechanisms.</p>
		
		<h3 style="color:powderblue" >Time</h3>
		
		<p>As we say on our homepage, this category indicates the desired <br>
		time you would like the game to last in minutes. <br> We will display all games
		which take up to the length you indicate.</p>
		
		<h3 style="color:peachpuff">  Age </h3>
		
		<p>Not all games are suitable for all players, all games will <br>
		be appropriate for the selected age and above. </p>
		
		<h3 style="color:paleturquoise">Number of Players</h3>
		<p>Simply type in the number of players you would like to be 
		able to play the game.</p>
		
		<h3 style="color:khaki"><center> Ready to try it out?</center></h3>
		<p>You can use any combination of these features to search for <br>
		games. If you don't care about one of them, simply leave that <br>
		field blank. When you're ready, put in your prefences, hit search <br>
		and check out all the awesome games! <br>
		If you're still not sure what you want, you can always check out a <br>
		totally random game, try it out here:</p>
	
		<form action="/random"><input type="submit" value="Random Game">  </form>
		
		
		
