<!doctype html>
<html lang="en">   
   <head>
      <title> Board Game Finder Results </title>
   </head>
   <link rel="stylesheet" href="static/prelim.css">
   <body>
		<div class="navbar">
        <a href="/">Home</a>
        <a href="#About"> About</a>
        <a class="active"> Games </a>
    	</div>
		
		<h1> About Board Game Finder</h1>
		
		<p> Welcome to our board game finder! Our site is intended to help
			anyone and everyone find awesome new board games that make sense 
			for their preferences, age, group size, and time constrains.
			Not sure how to start? Here's a rundown of what each feature
			of our search function means:</p>
		
		<h3>Category </h3>
		
		<p>Category describes the primary mechanism by which the game is 
		played. Co-operative, for instance, indicates a game where players
		work together towards a common goal, while Battle indicates a game
		that revolves around competition and war-like strategy.
		Categories are not all-encompassing, or mutually exclusive, as some 
		games have multiple mechanisms.</p>
		
		<h3>Time</h3>
		
		<p>As we say on our homepage, this category indicates the maximum 
		time you have available to play in minutes. We will display all games
		which take up to the length you indicate.</p>
		
		<h3> Minimum Age </h3>
		
		<p>Not all games are appropriate for all players, this feature allows 
		you to indiate the age of youngest person you'd like to be able 
		to play the game. </p>
		
		<h3>Number of Players</h3>
		<p>Simply type in the number of players you would like to be 
		able to play the game.</p>
		
		<h2> Ready to try it out?</h2>
		<p>You can use any combination of these features to search for 
		games. If you don't care about one of them, simply leave that 
		field blank. When you're ready, put in your prefences, hit search
		and check out all the awesome games!
		If you're still not sure what you want, you can always check out a 
		totally random game, try it out here:</p>
		<form><input type="submit" value="Random Game">  </form>
		
		
		