<!doctype html>
<html lang="en">   
   <head>
      <title> Board Game Finder Results </title>
   </head>
   <link rel="stylesheet" href="static/prelim.css">
   <body>
      
      <div class="navbar">
        <a href="/">Home</a>
        <a href="/About"> About</a>
         <a class="active"> Game Results </a>
    </div>

      <h1> Boardgame Results: </h1>
      
      <h3> Sorry! no board games fit your criteria</h3>
      <p> Click here to try a different search:</p>
         <form action="/">        
             <input type="submit" value="New Search">
         </form>
      <p> 
         Or get a random awesome board game</p>
      <form action="/random"><input type="submit" value="Random Game">  </form>
      
   </body>
</html>
